<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.JinhuoMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Jinhuo">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="shangpinxinxiid" property="shangpinxinxiid" jdbcType="INTEGER"/>
                                    <result column="shangpinbianhao" property="shangpinbianhao" jdbcType="VARCHAR"/>
                                    <result column="shangpinmingcheng" property="shangpinmingcheng" jdbcType="VARCHAR"/>
                                    <result column="fenlei" property="fenlei" jdbcType="VARCHAR"/>
                                    <result column="gongyingshang" property="gongyingshang" jdbcType="INTEGER"/>
                                    <result column="gongyingshangbianhao" property="gongyingshangbianhao" jdbcType="VARCHAR"/>
                                    <result column="gongyingshangmingcheng" property="gongyingshangmingcheng" jdbcType="VARCHAR"/>
                                    <result column="gongyingshangdianhua" property="gongyingshangdianhua" jdbcType="VARCHAR"/>
                                    <result column="jinhuojiage" property="jinhuojiage" jdbcType="DECIMAL"/>
                                    <result column="jinhuoshuliang" property="jinhuoshuliang" jdbcType="INTEGER"/>
                                    <result column="jinhuoxiaoji" property="jinhuoxiaoji" jdbcType="DECIMAL"/>
                                    <result column="jinhuobeizhu" property="jinhuobeizhu" jdbcType="VARCHAR"/>
                                    <result column="caozuoren" property="caozuoren" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, shangpinxinxiid, shangpinbianhao, shangpinmingcheng, fenlei, gongyingshang, gongyingshangbianhao, gongyingshangmingcheng, gongyingshangdianhua, jinhuojiage, jinhuoshuliang, jinhuoxiaoji, jinhuobeizhu, caozuoren    </sql>
    </mapper>
