# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\重庆理工文件\SpbootVue09811超市管理系统程序\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
